<p id="notice"><%= notice %></p>

<p>
  <strong>Commenter:</strong>
  <br>
 <strong><%= @current_user.email %></strong>
</p>

<p>
  <strong>Body:</strong>
  <br>
  <%= @comment.body %>
</p>

<p>
  <strong>Post:</strong>
  <br>
  <%= @comment.post %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
