<div class="row">
  <div class="medium-6 columns">

<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<br>
<br>
<div class="container featured-grid">
 <div class="inside">
  <ul class="grid">
    <% @posts.each do |post| %>
    <li>
    <h5><%= link_to post.title, post_path(post) %></h5>
      <a ><%= post.user.email %></a>
       <span class="date"><%= post.created_at %></span><br>
         <span class="right"><%= link_to 'Read more', post %></span>
         <br>
         <%if post.user == current_user %>
          <span class="right"> <%=link_to 'Edit', edit_post_path(post) %>
           <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
         <% end %>
      </a>
    </li>
    </ul>
  </div>
</div>
<br><br><br>
     <% end %>
</div>
</div>
