<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row">
  <div class="medium-6 columns">

<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>
<br>
<br>
<div class="container featured-grid">
 <div class="inside">
  <ul class="grid">
    <% @posts.each do |post| %>
    <li>
    <h5><%= link_to post.title, post_path(post) %></h5>
      <span ><%= post.user.email %></span>
       <span class="date"><%= post.created_at.strftime("%Y-%m-%d %H:%M ")
 %></span><br>
       <span>Comments: <%= post.comments.size%></span>
         <span class="right"><%= link_to 'Read more', post %></span>
         <br>
         <%if post.user == current_user %>
          <span class="right"> <%=link_to 'Edit', edit_post_path(post) %>
           <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span><br>
         <% end %>
         <br>
         <!-- Twitter -->
            <a href="http://twitter.com/home?status=SHAREMESSAGE" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
             <!-- Facebook -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=SHAREMESSAGE" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
            <!-- LinkedIn -->
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=SHAREMESSAGE" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a>
            <!-- VK -->
            <a href="http://vk.com/share.php?url=http://localhost.com"  title="Share on VK" target="_blank"><i class="fa fa-vk"></i>VK</a>

         </li>
    </ul>

<br><br><br>
     <% end %>
</div>
</div>
