<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Calendar" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
   <% if user_signed_in? %>
    <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= current_user.email %></a></h1>
    </li>
  </ul>
   <section class="top-bar-section">
    <ul class="right">
      <li class=""><a href=""><%= link_to 'All Events', controller: "meetings", action: "all" %></a></li>

      <li class=""><a href=""><%= link_to 'New Meeting', new_meeting_path %></a></li>
      <li class=""><a href=""><%= link_to "Exit", destroy_user_session_path, method: :delete %></a</li>
     </ul>
  </section>
</nav>


    <% end %>

    <%= yield %>

  </body>
</html>
