<br>
<br>
<h1 align="center"> All events</h1>
<br>
<h6 align="center">On this page you can see all evens of all users of the site. Enjoy it :) </h3>
<br>
<br>
<div class="row">
 <div class=" small-centred columns ">
  <% @meetings.each do |meeting| %>
   <div class="small-2 large-4 columns end">
        <div class="callout-card primary">
          <div class="card-label">
            <div class="label-text">
              All
            </div>
          </div>

          <article class="event">
          <div class="event-date" >
             <p class="event-month" ><%= meeting.start_time.strftime("%b")%></p>
             <p class="event-day"><%= meeting.start_time.strftime("%d")%></p>
           </div>
           </article>


          <div class="callout-card-content">
            <h3 class="lead" align="center"><%= meeting.name %></h3>
            <p align="center"><%= link_to 'Show', meeting %>
              <br>
             <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }%>

</p>
          </div>
        </div>
      </div>
     <% end %>
     </div>
     </div>

     <p align="center"><%= link_to 'Back', meetings_path, class: "small secondary button" %></p>


