<br>
<br>
<h1 align="center"> All events</h1>
<br>
<h6 align="center">On this page you can see all evens of all users of the site. Enjoy it :) </h3>
<br>
<br>
<div class="row">
  <div class="small-5 columns ">
  <% @meetings.each do |meeting| %>
    <article class="event">
          <div class="event-date">
             <p class="event-month"><%= meeting.start_time.strftime("%b")%></p>
             <p class="event-day"><%= meeting.start_time.strftime("%d")%><br></p><br>
           </div>

          <div class="event-desc">
            <h4 class="event-desc-header"><%= meeting.name %></h4>
             <h6 >Autor is <%= meeting.user.email %> </h6>
            <p class="event-desc-detail"><span class="event-desc-time"></span><%= meeting.details %></p>
             <%= link_to 'Show', meeting %>
              <br>

                <br>

             </p>
           <td>
          </div>
      </article>
     <br>
     <% end %>
     <%= link_to 'Back', meetings_path %>

     </td>
     </div>
     </article>
