<head>
  <link href="style.css" rel="stylesheet">
</head>
<p id="notice"><%= notice %></p>
<br>

<h1 align="center">Event Listing</h1>
<br>
<br>
<div class="row">
  <div class="small-5 columns ">
  <% @meetings.each do |meeting| %>
    <article class="event">
          <div class="event-date">
             <p class="event-month"><%= meeting.start_time.strftime("%b")%></p>
             <p class="event-day"><%= meeting.start_time.strftime("%d")%><br></p><br>
           </div>

          <div class="event-desc">
            <h4 class="event-desc-header"><%= meeting.name %></h4>
            <p class="event-desc-detail"><span class="event-desc-time"></span><%= meeting.details %></p>
             <%= link_to 'Show', meeting %>
              <br>
             <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }%>
                <br>

             </p>
           <td>
          </div>
      </article>
     <br>
     <% end %>

     </td>
     </div>
     </article>
     <div class="small-7 columns">


 <%= month_calendar events: @meetings do |date, meetings| %>
  <%= date.strftime("%d") %>
  <% meetings.each do |meeting| %>
    <div>
      <ul>
      <li><%= link_to meeting.name, meeting %>
      </li>
    </div>
  <% end %>
<% end %>
  </div>
<%= link_to 'New Meeting', new_meeting_path, class: "button expand secondary radius" %></a>
</ul>


<%= link_to 'current_user_show', controller: "users", action: "show", :id => current_user.id %><br>
<% Time.zone='Moscow' %>
<%= Time.zone.today %>

<ul>TODo:
 <li>Close Button</li>
 <li>Time now </li>
 <li>today events</li>
</ul>



