<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if user_signed_in? %>
    <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= link_to current_user.email, posts_path %></a></h1>
    </li>
  </ul>
   <section class="top-bar-section">
    <ul class="right">
      <li class=""><a href="/posts"><%= link_to "Create new post", new_post_path %></a></li>
      <li class=""><a href="#"><%= link_to "Exit", destroy_user_session_path, method: :delete %></a</li>
     </ul>
  </section>
</nav>


    <% end %>

    <%= yield %>

  </body>
</html>
